*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    height: 100px;
    width: 100%;
    background-color: aqua;
    border: 1px solid red;
    padding: 5px;
    margin: 10px;
}

i{
    position: relative;
    top: 40px;
}

#car1:hover{
    transform: translate(1200px);
    transition: all 5s 1s;
    transition-timing-function: ease;
    color: red;
}

#car2:hover{
    transform: translate(1200px);
    transition: all 5s 1s;
    transition-timing-function: ease-in;
}

#car3:hover{
    transform: translate(1200px);
    transition: all 5s 1s;
    transition-timing-function: ease-in-out;
}

#car4:hover{
    transform: translate(1200px);
    transition: all 5s 1s;
    transition-timing-function: ease-out;
}

#car5:hover{
    transform: translate(1200px);
    transition: all 5s 1s;
    transition-timing-function: step-end;
}